@model YeniOyuncuViewModel
@{
    ViewData["Title"] = "Yeni Oyuncu";
}

<h1>@ViewBag.Title</h1>

<form method="post">
    <div class="mb-2">
        <label asp-for="Ad" class="form-label"></label>
        <input asp-for="Ad" type="text" class="form-control" />
        <span asp-validation-for="Ad" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="FormaNo" class="form-label"></label>
        <input asp-for="FormaNo" type="number" class="form-control" />
        <span asp-validation-for="FormaNo" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="Mevki" class="form-label"></label>
        <select asp-for="Mevki" asp-items="Html.GetEnumSelectList<Mevki>()" class="form-control">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="Mevki" class="text-danger"></span>
    </div>
    <div class="mb-2">
        <label asp-for="TakimId" class="form-label"></label>
        <select asp-for="TakimId" asp-items="ViewBag.Takimlar" class="form-control">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="TakimId" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Ekle</button>
</form>
